*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 50px;
    height: 30px;
    border: 1px solid black;
}
.image{
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
}
nav{
    flex: 1;
    text-align: right;
    height: 35px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*margin-left: 45px;*/
}
.asideNavBar{
    margin-left: 45px;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar .dropdown:hover .dropbtn {
    background-color: red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #2d3436;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #2d3436;
    color: white;
    flex: 1;
    text-align: right;
}
.footer i{
    margin-right: 10px;
    margin-top: 8px;
    cursor: pointer;
}
.footer .call{
    margin-top: 23px;
    margin-left: 56px;
    margin-right: 320px;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    float: left;
}
.footer .email{
    margin-top: 23px;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    float: left;
}
.footer a{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 3px;
    position: fixed;

}
.homeBody{
    position: relative;
}
.homeBody img{
    position: fixed;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/*-------------------------------------------Beds Category-------------------------------------------*/

.titleBar{
    width: 72.5%;
    height: 31px;
    margin-left: 185px;
    margin-bottom: 5px;
    background-color: #777777;
    margin-top: 12px;
    opacity: 0.8;
}
.label{
    margin-right: 537px;
    margin-top: 4px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    cursor: pointer;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#74b9ff,#dfe6e9);
}
.header row{
    margin-top: 70px;
}
.categories{
    margin: 70px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 30%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 0;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.rating .fas{
    color: #ff523b;
}
.rating .far{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}
.categoryShorting{
    margin-right: 574px;
}

/*---------------------------------------Product Info--------------------------------------*/


.single-product{
    margin-top: 0;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product .fas{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.col-2 h3{
    text-align: initial;
}
.info{
    padding-bottom: 100px;
}
.price{
    color: darkred;
    font-size: 27px;
}
.desc{
    width: 72.5%;
    height: 133px;
    margin: auto;
    border: 1px solid #74b9ff;
    margin-bottom: 150px;
}
.descHeader{
    width: 100%;
    height: 20px;
    background-color: #bdc3c7;
    text-underline-mode: true;
    padding-left: 63px;
    padding-bottom: 27px;
}
.descDetail{
    padding-left: 30px;
}

/*------------------------------------------------About Us----------------------------------------*/

.about{
    text-align: initial;
}

/*-------------------------------------Contact Us-------------------------------------------*/

.contactUsMap{
    width: 639px;
    margin-left: -114px;
}
.form-controller{
    width: 100%;
    height: 384px;
    border:1px solid #777777;
    margin-top: 29px;
}
.aria{
    padding-bottom: 16px;
}
.txtFiled{
    width: 90%;
    height: 37px;
}
.txtLabel{
    margin-right: 213px;
}
.msgAria .txtFiled{
    height: 75px;
}
.btnSubmit{
    margin-right: 216px;
    border: none;
    background-color: cadetblue;
    font-size: 18px;
    cursor: pointer;
}
.fa-bars{
    visibility: hidden;
}
.fa-close{
    visibility: hidden;
}
/*!*--------------------------------Media Query for LapTop------------------------------*!*/

/*@media (max-width: 1024px) {*/
/*    .mainNavBar{*/
/*        height: 44px;*/
/*    }*/
/*    nav {*/
/*        flex: 1;*/
/*        text-align: right;*/
/*        height: 50px;*/
/*    }*/
/*    nav ul {*/
/*        display: inline-block;*/
/*        list-style-type: none;*/
/*        margin-right: 40px;*/
/*        margin-top: 11px;*/
/*    }*/
/*    .navbar a {*/
/*        float: left;*/
/*        font-size: 14px;*/
/*        color: black;*/
/*        text-align: center;*/
/*        padding: 14px 16px;*/
/*        text-decoration: none;*/
/*        margin-left: 0;*/
/*    }*/
/*    .dropdown .dropbtn {*/
/*        font-size: 15px;*/
/*        border: none;*/
/*        outline: none;*/
/*        color: white;*/
/*        padding: 14px 16px;*/
/*        background-color: inherit;*/
/*        font-family: inherit;*/
/*        margin: 0;*/
/*    }*/
/*    .homeBody img {*/
/*        width: 100%;*/
/*        height: 451px;*/
/*    }*/
/*    .titleBar{*/
/*        width: 82.5%;*/
/*        height: 31px;*/
/*        margin-left: 93px;*/
/*        margin-bottom: 5px;*/
/*        background-color: #777777;*/
/*        margin-top: 12px;*/
/*        opacity: 0.8;*/
/*    }*/
/*    .label {*/
/*        margin-right: 0;*/
/*        margin-top: 4px;*/
/*        padding-right: 309px;*/
/*    }*/
/*    .col-2 .info{*/
/*        padding-top: 0px;*/
/*        padding-bottom: 76px;*/
/*    }*/
/*    .desc {*/
/*        width: 72.5%;*/
/*        height: 167px;*/
/*        margin: auto;*/
/*        border: 1px solid #74b9ff;*/
/*        margin-bottom: 150px;*/
/*    }*/
/*    .aboutUsImg{*/
/*        padding-bottom: 82px;*/
/*    }*/
/*    .txtLabel {*/
/*        margin-right: 168px;*/
/*    }*/
/*    .contactUsForm{*/
/*        padding-bottom: 0px;*/
/*    }*/
/*    .contactUsMain{*/
/*        height: 550px;*/
/*    }*/
/*}*/

/*!*--------------------------------Media Query for Tablet------------------------------*!*/


/*@media (max-width: 768px) {*/
/*    .mainNavBar{*/
/*        height: 44px;*/
/*    }*/
/*    nav {*/
/*        flex: 1;*/
/*        text-align: right;*/
/*        height: 50px;*/
/*    }*/
/*    nav ul {*/
/*        display: inline-block;*/
/*        list-style-type: none;*/
/*        margin-right: 20px;*/
/*        margin-top: 11px;*/
/*        font-size: 12px;*/
/*    }*/
/*    .navbar a {*/
/*        float: left;*/
/*        font-size: 12px;*/
/*        color: black;*/
/*        text-align: center;*/
/*        padding: 14px 2px;*/
/*        text-decoration: none;*/
/*    }*/
/*    .dropdown .dropbtn {*/
/*        font-size: 10px;*/
/*        border: none;*/
/*        outline: none;*/
/*        color: white;*/
/*        padding: 14px 3px;*/
/*        background-color: inherit;*/
/*        font-family: inherit;*/
/*        margin: 0;*/
/*    }*/
/*    .homeBody img {*/
/*        width: 100%;*/
/*        height: 550px;*/
/*    }*/
/*    .titleBar{*/
/*        width: 72.5%;*/
/*        height: 31px;*/
/*        margin-left: 100px;*/
/*        margin-bottom: 5px;*/
/*        background-color: #777777;*/
/*        margin-top: 12px;*/
/*        opacity: 0.8;*/
/*    }*/
/*    .label {*/
/*        margin-right: 0;*/
/*        margin-top: 4px;*/
/*        padding-right: 100px;*/
/*    }*/

/*    !*Product Info Page*!*/
/*    .categoryShorting{*/
/*        margin-right: 0;*/
/*    }*/
/*    .productInfoImg{*/
/*        padding-bottom: 220px;*/
/*    }*/
/*    .col-2 .info{*/
/*        padding-bottom: 260px;*/
/*    }*/

/*    .col-2 .info p{*/
/*        font-size: 8px;*/
/*    }*/
/*    .desc {*/
/*        width: 72.5%;*/
/*        height: 167px;*/
/*        margin: auto;*/
/*        border: 1px solid #74b9ff;*/
/*        margin-top: -233px;*/
/*        margin-bottom: 112px;*/
/*    }*/
/*    .aboutUsImg{*/
/*        padding-bottom: 233px;*/
/*    }*/
/*    .txtLabel {*/
/*        margin-right: 168px;*/
/*    }*/

/*    !*About Us*!*/

/*    .contactUsForm {*/
/*        padding-bottom: 0px;*/
/*        padding-right: 35px;*/
/*    }*/

/*    !*Contact Us*!*/

/*    .contactUsMap {*/
/*        width: 569px;*/
/*        margin-left: -62px;*/
/*    }*/
/*    .aria {*/
/*        padding-bottom: 17px;*/
/*    }*/
/*    .txtLabel {*/
/*        margin-right: 98px;*/
/*    }*/

/*}*/

/*--------------------------------Media Query for Mobile------------------------------*/


@media (max-width: 600px) {
    .mainNavBar>div>nav {display: none;
    }
    .mainNavBar>div>div>img{
        position: relative;
        right: 60px;
    }
    .fa-bars{
        visibility: visible;
        position: absolute;
        right: 20px;
    }
    .fa-close{
        visibility: visible;
        color: white;
        position: absolute;
        left: 8px;
        top: 5px;
    }
    .nav-links {
        height: 100vh;
        width: 200px;
        background: black;
        top: 0;
        right: -200px;
        position: absolute;
        color: white;
        z-index: 5;
    }
    .navbar{
        display: none;
    }
    .navSection{
        margin-top: 20px;
    }
}